.main {
  background: beige;
  left: 50%;
  padding: 1rem;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
}

.main ul {
  font-size: 1.25rem;
  list-style: none;
}

.main input {
  font-size: 1.25rem;
}
