.main {
  left: 15%;
  padding: 1rem;
  position: absolute;
  top: 5%;
  width: 70%;
  height: 90%;
  display: flex;
  gap: 60px;
}

.character,
.inventory {
  background: beige;
  flex: 1 1 50%;
  border-radius: 8px;
  box-shadow: 0 0 0 20px rgba(0, 0, 0, 0.6);
  padding: 10px;
}

.inventory h1 {
  margin-top: 0;
}

.closeBtn {
  background: none;
  border: none;
  box-shadow: none;
  color: #000000;
  float: right;
  font-size: 1.5rem;
  font-weight: 700;
}

.closeBtn:hover {
  outline: 1px solid #000;
}

.stats {
  display: flex;
  border-bottom: 2px solid gray;
  padding-bottom: 10px;
}

.stats img {
  max-width: 40%;
}

.info {
  font-size: 1.25rem;
  list-style: none;
  margin: 0;
  padding: 0 0 0 10px;
}

.equipment ul {
  font-size: 1.25rem;
  list-style: none;
  margin: 10px 0 0 0;
  padding: 0;
}

.equipment li,
.inventory li {
  align-items: center;
  display: flex;
  gap: 5px;
  margin-bottom: 4px;
}

.equipment li:hover,
.inventory li:hover {
  background: linear-gradient(0deg, gold, transparent);
}

.equipment li img,
.inventory li img {
  max-width: 1.25rem;
}

.equipment li button,
.inventory li button {
  background-color: #c62128;
  background-image: linear-gradient(
    128deg,
    #c62128 0%,
    #c62128 50%,
    #a00000 50%,
    #a00000 100%
  );
}

.inventory li button + button {
  margin-left: 5px;
}

.weaponStats,
.itemStats {
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  margin-top: 10px;
  padding: 10px;
}

.inventory ul {
  font-size: 1.25rem;
  list-style: none;
  margin: 0;
  padding: 0;
}
