.main {
  background: beige;
  left: 50%;
  padding: 1rem;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 600px;
}

.avatarList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 0;
}

.avatar {
  background: none;
  border: none;
  padding: 0;
}

.avatar input {
  left: -9999px;
  position: absolute;
}

.avatar img {
  display: block;
  max-width: 75px;
}

.avatar img:hover,
.avatar input[type="radio"]:checked + label > img {
  outline: 2px solid red;
}

.nameLabel {
  font-size: 2rem;
  font-weight: 700;
  line-height: 2;
}

.main input[type="text"] {
  font-size: 1rem;
  line-height: 1.5;
  width: 100%;
}

.startButton {
  padding: 4px 32px;
  font-size: 1.5rem;
  margin-top: 1rem;
}
