.main {
  align-items: center;
  background: beige;
  border-radius: 8px;
  box-shadow: 0 0 0 20px rgba(0, 0, 0, 0.6);
  display: flex;
  flex-direction: column;
  height: 800px;
  justify-content: center;
  left: 50%;
  overflow: hidden;
  position: absolute;
  top: 60px;
  transform: translate(-50%, 0);
  width: 800px;
  transition: opacity 300ms ease-out;
}

.avatarList {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 0;
}

.avatar {
  background: none;
  border: none;
  padding: 0;
}

.avatar input {
  left: -9999px;
  position: absolute;
}

.avatar img {
  display: block;
  max-width: 75px;
}

.avatar img:hover,
.avatar input[type="radio"]:checked + label > img {
  outline: 2px solid red;
}

.nameLabel {
  font-size: 2rem;
  font-weight: 700;
  line-height: 2;
}

.main input[type="text"] {
  font-size: 1rem;
  line-height: 1.5;
  width: 50%;
}

.startButton {
  margin-left: 0;
  padding: 4px 32px;
  font-size: 1.5rem;
  margin-top: 1rem;
}
