.main {
  background: beige;
  left: 50%;
  padding: 1rem;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
}

h1 {
  margin-top: 0;
}

.quest {
  align-items: flex-start;
  display: flex;
  justify-content: flex-start;
  margin-bottom: 10px;
}

.quest img {
  height: auto;
  width: 50px;
}

.questInfo {
  margin-right: auto;
  padding-left: 10px;
}

.questInfo h2,
.questInfo p {
  margin: 0;
}

.closeBtn {
  background: none;
  border: none;
  box-shadow: none;
  color: #000000;
  float: right;
  font-size: 1.5rem;
  font-weight: 700;
}

.closeBtn:hover {
  outline: 1px solid #000;
}

.quest [class*="styles_main"] {
  position: relative;
}

.quest [class*="styles_main"] > div:first-child {
  font-weight: 700;
  left: 50%;
  padding-left: 5px;
  position: absolute;
  transform: translateX(-50%);
}
.quest [class*="styles_max"] {
  height: 25px;
  width: 110px;
}
