@import url("https://fonts.googleapis.com/css2?family=Joan&display=swap");

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Joan", serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
select,
button {
  font-family: "Joan", serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
