@import url("https://fonts.googleapis.com/css2?family=Cabin:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Cabin", serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
select,
button {
  font-family: "Cabin", serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

button {
  background-color: initial;
  background-image: radial-gradient(#009ffd, #2a2a72);
  border: 2px solid gold;
  border-radius: 2px;
  box-shadow: 0px 0px 3px gray;
  color: #fff;
  cursor: pointer;
  font-size: 1rem;
  margin-left: auto;
  outline: none;
  padding: 2px 16px;
}

button[disabled] {
  border-color: #999;
  background-image: radial-gradient(#5e5c5c, #9dc5c3);
  cursor: not-allowed;
}
