@import url("https://fonts.googleapis.com/css2?family=Cabin:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Cabin", serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
select,
button {
  font-family: "Cabin", serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

button {
  background-color: #0054a6;
  background-image: linear-gradient(
    128deg,
    #0054a6 0%,
    #0054a6 50%,
    #012e5a 50%,
    #012e5a 100%
  );
  background-position: -10% 0;
  background-repeat: no-repeat;
  background-size: 210% 100%;
  border: none;
  border-radius: 8px;
  color: #fff;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 700;
  line-height: 2;
  margin-left: auto;
  outline: none;
  overflow: hidden;
  padding: 0 16px;
  position: relative;
  transition: background-position 300ms ease-out;
}

button:hover {
  background-position: 50% 0;
}

button:active,
button:focus {
  background-position: 100% 0;
}

button[disabled] {
  background-color: #999;
  background-image: none;
  cursor: not-allowed;
}
